<body class="io-grey-mode">
    <!--加载动画-->
    {{ partial "loading.html" . }}
    <!--加载动画 end-->
    <div class="page-container">
        <!--侧边栏-->
        {{ partial "sidebar.html" . }}
        <!--侧边栏 end -->

        <!-- main-content -->
        <div class="main-content flex-fill grid-bg">
            <!-- 横幅 -->
            {{ partial "banner.html" . }}
            <!-- 横幅 end -->

            <!-- 搜索 -->
            {{ partial "search.html" . }}
            <!-- 搜索 end -->

            <!-- 内容 -->
            {{ partial "content.html" . }}
            <!-- 内容 end -->

            <!-- 页脚 -->
            {{ partial "footer.html" . }}
            <!-- 页脚 end -->
        </div>
        <!-- main-content end -->

    </div>
    {{ partial "scripts.html" . }}

</body>

